.title {
  font: 30px;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.board {
  height: 100%;
}



.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.mapbackground {
  background: #fff;
  border: 1px solid #999;
  float: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 440px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 440px;

}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.nameform {
}

.menu {
  width: 200px;
  height: 400px;
  background: #456;
}

.block-icon {
  position: relative;
  display: inline-flex;
}

.ball {
  position: absolute;
  position: absolute;
  z-index: 1;
}

.rover {
  position: absolute;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 1;

}

.clearmap {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.notifications {
  overflow-y: scroll;

}
.not-wrapper {
  height: 170px;
}
